# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Uploads and temp files
uploads/
archive/

# VSCode or PyCharm settings (optional)
.vscode/
.idea/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

models/alexnet_model.h5